
h1{
    color: rgb(170, 170, 243);
}

body {
    
    background-color: rgba(240, 240, 240, 0.959);
  }

#p1{color: rosybrown;

}

ul> li:first-child > a{
    color: red;
}
ul> li:nth-child(2)> a{
    color: brown;
}
ul> li:last-child> a{
    color: blue;
}
/*ul> li:nth-child(2n - 1)> a{
    color: green;
}*/
ul> li:nth-child(even)> a:hover{
    color: green;
}




  